h1 {
    text-align: center;
    font-family: "Times New Roman", sans-serif;
    font-weight: heavy;
}


h2 {
    text-align: center;
    font-family: "Times New Roman", sans-serif;
    font-weight: normal;
}

h4 {
    text-align: center;font-family: "arial", sans-serif;
    font-weight: normal;
}

body {
    background-color: black;
    color: white;
}
